/* Esta es la fuente local Share Tech */
@font-face {
    font-family: 'Share Tech';
    src: url('../assets/fonts/ShareTech-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Esto aplica la fuente a todo el sitio */
body {
    font-family: 'Share Tech', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#quienesSomosTextoInformativo{
   max-width: 600px;
}
#contenedor1{
  display: flex;
  justify-content: center;
  align-items: center;     
  flex-direction: column;
  gap:30px;
}

#equipo {
  text-align: left;
}

/* NAV BAR */

.nav-bar-container{
  display: flex;
  justify-content: center;
  width: 100%;
  /* position: fixed;
  top: 0; */
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 98%;
  height: 35px;
  margin-top: 10px;
  background-color: black;
  color: white;
  border-radius: 20px;
}

a{
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  color: white;
}

ul{
  display: flex;
}

li{
  font-size: 10px;
  list-style: none;
  margin: 0 5px;
}

/* FOOTER */

footer{
  display: block;
  height:fit-content;
  font-family: "Orbitron", sans-serif;
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 10px;
}

.top-footer{
  display: flex;

}

.urls-footer {
  display: block;
  width:fit-content;
}

.urls-footer a{
  font-size: 10px;
}


.urls-footer li a{
  font-size: 7px;
}

.members{
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.members h1 {
    text-align: center;
    margin: 5px;
    font-size: 10px;
    font-weight: lighter;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.members .names li{
    padding: 3px;
    display: block;
    list-style: none;
    font-size: 8px;
    margin-left: 0;
    height:fit-content;
}

.members img{
    margin-left: 20px;
    align-content: center;
    max-height: 70px;
    padding: 1;
}

footer p{
  margin-top: 15px;
  font-family:'Times New Roman', Times, serif;
  font-weight: lighter;
  font-size: 8px;
  text-align: center;
}